<div class="container-sm">
  <h2>Take the test</h2>
  <div class="row">
    <div class="col-6" *ngFor="let question of questions">
      <app-question-card [question]="question"></app-question-card>
    </div>
  </div>
  <p><span>Wrong answers: <strong>{{ wrongAnswer }}</strong></span></p>
</div>
