<div class="card border p-3" appShadow="{{ question.statusAnswer }}" >
  <p>{{ question.question }}</p>
  <div  [ngStyle]="{border: '1px solid lightblue'}" appHide>
    <button type="button" class="btn btn-success">Prompt</button>
    <p>{{ question.prompt }}</p>
  </div>
  <form (ngSubmit)="onClick()">
    <label for="question"><input type="text" id="question" name="userAnswer" [(ngModel)]="userAnswer"></label>
      <button type="submit" class="btn btn-success">Answer</button>
  </form>
</div>
